#floatie {

	user-select: none;

	z-index: 200;
	position: absolute;

	margin-top: 30px;
	margin-left: -120px;

	background-color: #EEE;

   	border-radius: 8px;

   	overflow: hidden;

	div {
		display: inline-block;

		width: 80px;
		height: 80px;

		text-align: center;

		margin: 0;

		background-color: #EEE;
		width: 80px;
		height: 80px;
		line-height: 80px;
	}

	
}

#floatie-triangle{

	user-select: none;

	position: absolute;

	width: 30px;
	height: 30px;
	margin-left:-15px;
	padding: 0px;
	background-color: #EEE;
	-webkit-transform:rotate(45deg);
}

#trash {
	background-image: url("../assets/icon_trash.svg");
}
#send_to_front {
	background-image: url("../assets/icon_send_to_front.svg");
}
#send_to_back {
	background-image: url("../assets/icon_send_to_back.svg");
}