#pen_thickness_controls {
  box-sizing: border-box;
  height: 80px;
  font-size: 0; }

.pen_thickness_container {
  -webkit-transition: all 0.2s ease-in-out;
  overflow: hidden;
  display: inline-block;
  width: 40px;
  padding: 20px 0; }
  .pen_thickness_container:first-child {
    padding-left: 20px; }
  .pen_thickness_container:last-child {
    padding-right: 20px; }
  .pen_thickness_container.closed {
    padding-left: 0;
    padding-right: 0;
    width: 0px; }
  .pen_thickness_container.chosen {
    width: 40px;
    padding: 20px; }
  .pen_thickness_container .pen_thin, .pen_thickness_container .pen_medium, .pen_thickness_container .pen_thick {
    background-color: #CCC;
    width: 100%;
    margin-bottom: 5px; }
    .pen_thickness_container .pen_thin:last-child, .pen_thickness_container .pen_medium:last-child, .pen_thickness_container .pen_thick:last-child {
      margin-bottom: 0; }
  .pen_thickness_container .pen_thin {
    height: 4px; }
  .pen_thickness_container .pen_medium {
    height: 8px; }
  .pen_thickness_container .pen_thick {
    height: 16px; }

.spacer {
  display: inline-block;
  -webkit-transition: all 0.2s ease-in-out;
  width: 20px; }
  .spacer.closed {
    width: 0px; }
