
@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";

@import "colors";

$font: 'Source Sans Pro', sans-serif;
body, html {
	font-family: $font;
}

section, footer {
	@include outer-container;
	margin-bottom: 2em;
}

section.user {
	
	border-bottom: 1px solid #DDD;
	padding-bottom: golden-ratio(1em, 1);

	&.ui-sortable-helper {
		margin-left: auto;
	}
}

img {
	@include span-columns(2);
	border-radius: 3px;
}

div.form {
	@include span-columns(10);

	button {
		float: right;
	}
}

aside {
	@include span-columns(2 of 10);

	font-size: 16px;
	color: #555;
	line-height: 1.3em;
	padding: 0 golden-ratio(0.3em, 1);

	span {
		font-style:italic;
		color: #888;
	}
}


input {
	@include span-columns(8 of 10);
	@include omega;

	height: golden-ratio(1.5em, 1);
	padding: 0 golden-ratio(0.3em, 1);
	margin-bottom: golden-ratio(0.5em, 1);

	border-radius: 2px;
	border: 1px solid #DDD;

	&:active, &:focus {
		outline:none;
		box-shadow:none;
		border: 1px solid $PETER-RIVER;
	}
}

button {
	height: golden-ratio(1.5em, 1);
	padding: 0 golden-ratio(0.6em, 1);
	margin-right: golden-ratio(0.5em, 1);

	border: none;
	border-radius: 3px;

	color: white;

	&:last-child {margin-right:0};
}