* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.EMERALD {
  background-color: #2ecc71; }
  .EMERALD:hover {
    background-color: #54d98c; }

.CARROT {
  background-color: #e67e22; }
  .CARROT:hover {
    background-color: #eb9950; }

.ALIZARIN {
  background-color: #e74c3c; }
  .ALIZARIN:hover {
    background-color: #ed7669; }

.PETER-RIVER {
  background-color: #3498db; }
  .PETER-RIVER:hover {
    background-color: #5faee3; }

.TURQUOISE {
  background-color: #1abc9c; }
  .TURQUOISE:hover {
    background-color: #28e1bd; }

.AMETHYST {
  background-color: #9b59b6; }
  .AMETHYST:hover {
    background-color: #b07cc6; }

.SUN-FLOWER {
  background-color: #f1c40f; }
  .SUN-FLOWER:hover {
    background-color: #f4d03f; }

body, html {
  font-family: "Open Sans", sans-serif; }

h1 {
  font-weight: normal; }

section, footer {
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em; }
  section:after, footer:after {
    content: "";
    display: table;
    clear: both; }

section.user {
  border-bottom: 1px solid #DDD;
  padding-bottom: 1.618em; }
  section.user.ui-sortable-helper {
    margin-left: auto; }

img {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%;
  border-radius: 3px; }
  img:last-child {
    margin-right: 0; }

div.form {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%; }
  div.form:last-child {
    margin-right: 0; }
  div.form button {
    float: right; }

aside {
  float: left;
  display: block;
  margin-right: 2.84259%;
  width: 28.01019%;
  font-size: 16px;
  color: #555;
  line-height: 1.3em;
  padding: 0 0.4854em; }
  aside:last-child {
    margin-right: 0; }
  aside span {
    font-style: italic;
    color: #BBB; }

input {
  float: left;
  display: block;
  margin-right: 2.84259%;
  width: 69.14722%;
  margin-right: 0;
  height: 2.427em;
  padding: 0 0.4854em;
  margin-bottom: 0.809em;
  border-radius: 2px;
  border: 1px solid #DDD; }
  input:last-child {
    margin-right: 0; }
  input:active, input:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid #3498db; }

button {
  height: 2.427em;
  padding: 0 0.9708em;
  margin-right: 0.809em;
  border: none;
  border-radius: 3px;
  color: white; }
  button:last-child {
    margin-right: 0; }
