@import "bourbon/bourbon";

@import "colors";
@import "floatie";

$font: 'Open Sans', sans-serif;

body, html {
	width: 100%;
	height: 100%;
	background-color: #CCC;
	@include user-select(none);
}

canvas {
	position: absolute; top: 0px; left: 0px;
	background-color: transparent;
}

#canvas-background {
	position: absolute; top: 0px; left: 0px;
	@include size(1080px 1920px);
	background-color: white;
	pointer-events: none;
}

iframe {
	position: absolute;
	width: 1080px;
	height: 1920px;
	left: 0;
	top: 0;
	border: none;
}

div.header_bg {
	@include size(1080px 8.5em);
  	background: linear-gradient(to bottom, rgba(255,255,255,1), rgba(255,255,255,0));
  	@include position(absolute, 0px 0px 0px 0px);
  	pointer-events: none;
}

header {

	position: absolute;
	left: 0;
	top: 0;

	padding: 24px;

	font-family: $font;

	pointer-events: none;

	section, img {
		display: inline-block;
		vertical-align: middle;
		margin-right: 18px;
	}

	p {
		margin: 8px 0;

		&:first-child {margin-top: 0}
		&:last-child {margin-bottom: 0}
	}

	img {
		width: 80px;
		height: 80px;
		border-radius: 8px;
	}
}

.icon-button {
	background-size: cover;
}


aside {

	position: absolute;
	right: 0;
	top: 0;

	margin: 24px;

	section {

		background-color: #EEE;
		border-radius: 8px;
		margin-bottom: 24px;
		overflow: hidden;

		display: block;

		&.main-controls {
			margin-left:auto;
			width: 80px
		}
	}

	div {

		&.selected{
			background-color: #DDD;
		}

		&#cursor {
			background-image: url("../assets/icon_cursor.svg");
		}
		&#pen {
			background-image: url("../assets/icon_pen.svg");
			&.selected { background-image: url("../assets/icon_pen_selected.svg");}
		}
		&#eraser {
			background-image: url("../assets/icon_eraser.svg");
		}

		background-size: cover;

		-webkit-transition: background-color 0.2s ease-in-out;
		
		width: 80px;
		height: 80px;
	}
}

p.title {
	font-size: 1.5em;
	line-height: 100%;
	margin-bottom: 0.7em;
}

p.subtitle {
	font-size: 1.2em;
	line-height: 100%;
	color: #666;
}

#color_picker {

	-webkit-transition: all 0.2s ease-in-out;

	span {
		display: inline-block;
		-webkit-transition: all 0.2s linear;
		width: 20%;
		height: 25%;
		margin: 0;
	}

	&.closed{
		width:  80px;
		height: 80px;

		span {
			width: 25%;
		}

		span:nth-child(5n) {
			width: 0;
		}
	}

	&.open{
		width:  300px;
		height: 240px;
	}

	#color_picker_table {
		width: 100%;
		height: 100%;
		line-height: 0;
	}
}