.green {
  background-color: #2ecc71; }
  .green:hover {
    background-color: #40d47e; }

.orange {
  background-color: #e67e22; }
  .orange:hover {
    background-color: #e98b39; }

.red {
  background-color: #e74c3c; }
  .red:hover {
    background-color: #ea6153; }

.blue {
  background-color: #3498db; }
  .blue:hover {
    background-color: #4aa3df; }

.teal {
  background-color: #1abc9c; }
  .teal:hover {
    background-color: #1dd2af; }

.purple {
  background-color: #9b59b6; }
  .purple:hover {
    background-color: #a66bbe; }

.yellow {
  background-color: #f1c40f; }
  .yellow:hover {
    background-color: #f2ca27; }

#floatie {
  user-select: none;
  z-index: 200;
  position: absolute;
  left: 200px;
  top: 200px;
  padding: 8px;
  margin-top: 30px;
  margin-left: -120px;
  background-color: #EEE;
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.5);
  border-radius: 16px; }
  #floatie div {
    display: inline-block;
    width: 80px;
    height: 80px;
    text-align: center;
    margin: 0;
    background-color: #EEE;
    width: 80px;
    height: 80px;
    line-height: 80px; }

#floatie-triangle {
  user-select: none;
  position: absolute;
  left: 200px;
  top: 200px;
  width: 30px;
  height: 30px;
  padding: 0px;
  background-color: #EEE;
  -webkit-transform: rotate(45deg);
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.5); }

body, html {
  width: 100%;
  height: 100%;
  background-color: #CCC; }

canvas {
  background-color: white; }

header {
  position: absolute;
  left: 0;
  top: 0;
  padding: 24px;
  font-family: "Source Sans Pro", sans-serif; }
  header section, header img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 18px; }
  header p {
    margin: 8px 0; }
    header p:first-child {
      margin-top: 0; }
    header p:last-child {
      margin-bottom: 0; }
  header img {
    width: 80px;
    height: 80px;
    border-radius: 16px; }

aside {
  position: absolute;
  right: 0;
  top: 0;
  padding: 24px; }
  aside div {
    -webkit-transition: all 0.1s ease-in-out;
    display: block;
    text-align: center;
    background-color: #EEE;
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: 0; }
    aside div#pen {
      background-image: url("../assets/icon_pen.svg");
      background-size: cover; }
    aside div.selected {
      width: 90px;
      height: 90px; }

p.title {
  font-size: 24px; }

p.subtitle {
  font-size: 18px;
  color: #999999; }

#color_picker {
  -webkit-transition: all 0.2s ease-in-out; }
  #color_picker.closed {
    width: 80px;
    height: 80px; }
    #color_picker.closed td:last-child {
      width: 0; }
  #color_picker.open {
    width: 300px;
    height: 240px; }
  #color_picker table {
    width: 100%;
    height: 100%; }
  #color_picker tr {
    height: 20%; }
  #color_picker td {
    -webkit-transition: all 0.2s linear;
    width: 20%; }
