body, html {
  width: 100%;
  height: 100%;
  background-color: #CCC; }

canvas {
  background-color: white; }

header {
  position: absolute;
  left: 0;
  top: 0;
  padding: 24px;
  font-family: "Source Sans Pro", sans-serif; }
  header section, header img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 18px; }
  header p {
    margin: 8px 0; }
    header p:first-child {
      margin-top: 0; }
    header p:last-child {
      margin-bottom: 0; }
  header img {
    width: 80px;
    height: 80px;
    border-radius: 16px; }

aside {
  position: absolute;
  right: 0;
  top: 0;
  padding: 24px; }
  aside div {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    background-color: #EEE;
    width: 80px;
    height: 80px;
    border-radius: 16px; }

p.title {
  font-size: 24px; }

p.subtitle {
  font-size: 18px;
  color: #999999; }
