@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";

@import "colors";

$font: 'Open Sans', sans-serif;

$header-height: 128px-24px;
$triangle-size: 12px;

$status-bg: lighten($SUN-FLOWER, 35%);
$status-border: $SUN-FLOWER;
$status-text-color-1: darken($SUN-FLOWER, 30%);
$status-text-color-2: darken($SUN-FLOWER, 10%);

$duration-bg: white;
$duration-selected-bg: $PETER-RIVER;
$duration-text-color: black;
$duration-selected-text-color: $PETER-RIVER;

body, html {
	font-family: $font;
}

.desktop-only {
	@include media($mobile) {
		display: none;
	}
}

.mobile-only {
	display: none;
	@include media($mobile) {
		display: inherit;
	}
}

h1 {
	font-size: 2em;
	font-weight: normal;

	@include media($mobile) {
		font-size: 1.6em;
		margin-bottom: 0.1em;
	}
}

#hint {
	margin: 0 0 0.2em 0;
	color: #555;
	@include media($mobile) {
		font-size: 0.9em;
	}
}

section, footer {
	@include outer-container;
	margin-bottom: 2em;
	padding: 0 1em;

	@include media($mobile) {
		margin-bottom: 1.5em;
		&:last-child {margin-bottom: 2em;}
	}
}

section.user:after {
	content:" ";
	width: 100%;
	padding-top: 1.5em;
	border-bottom: 1px solid #DDD;

}

img {
	@include span-columns(2);
	border-radius: 3px;

	@include media($mobile) {
		@include span-columns(1);
		margin-bottom: $triangle-size+1px;
	}
}

.user-name {
	text-align: right;
	font-style: italic;
	color: #AAA;
	@include media($mobile) {
		@include span-columns(3);
		@include omega;
		margin: 0 0 $triangle-size+1px 0;
	}
}

div.form {
	position: relative;
	@include span-columns(10);

	button {
		float: right;
	}

	@include media($mobile) {
		@include span-columns(4);
	}
}

aside {
	@include span-columns(3 of 10);
	@include media($mobile) {
		display: none;
	}

	font-size: 16px;
	color: #555;
	padding: 0 golden-ratio(0.3em, 1);

	span {
		font-style:italic;
		color: #BBB;
	}
}


input, div.duration-holder {
	@include span-columns(7 of 10);
	@include media($mobile) { @include span-columns(4); }
	@include omega;

	margin-top: -1px;

	background-color: $status-bg;
	color: $status-text-color-1;

	height: golden-ratio(1.5em, 1);
	padding: 0 golden-ratio(0.3em, 1);
	margin-bottom: golden-ratio(0.5em, 1);

	border-radius: 2px;
	border: 1px solid $status-border;

	&:active, &:focus {
		outline:none;
		box-shadow:none;
		border: 1px solid $PETER-RIVER;
	}

	@include placeholder {
		font-style: italic;
		color: $status-text-color-2;
	}
}

div.form:after, div.form:before {
	bottom: 100%;
	left: 10%;

	// only show in mobile
	@include media($mobile) { content: " "; }

	border: solid transparent;
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

div.form:after {
	border-color: rgba(239, 239, 239, 0);
	border-bottom-color: $status-bg;
	border-width: $triangle-size;
	margin-left: -$triangle-size;
}
div.form:before {
	border-color: rgba(170, 170, 170, 0);
	border-bottom-color: $status-border;
	border-width: ($triangle-size + 1px);
	margin-left: -($triangle-size + 1px);
}

div.duration-holder, div.duration-holder:active {
	@include user-select(none);
	margin-bottom: 1.5rem;
	border: none;
	padding: 0;
	background-color: $duration-bg;
	color: $duration-text-color;
}

div.duration {

	display: inline-block;
	@include size(25% 100%);

	@include transition (all 0.1s ease-in-out);

	// border size and radius effects for duration divs
	border-left:       1px solid #DDD;
	border-top:        1px solid #DDD;
	border-bottom:     1px solid #DDD;
	&:first-child {
		border-radius: 3px 0 0 3px;
	}
	&:last-child {
		border-right:  1px solid #DDD;
		border-radius: 0 3px 3px 0;
	}

	line-height:  golden-ratio(1.5em, 1);
	text-align: center;
	
	// do like button
	@include user-select(none);
	cursor: pointer;

	&:hover {
		background-color: transparentize($duration-selected-bg, 0.9);
	}

	&.selected {
		background-color: $duration-selected-bg;
		border-color: $duration-selected-bg;
		color: $duration-bg;
	}
}

button {
	height: golden-ratio(1.5em, 1);
	padding: 0 golden-ratio(0.6em, 1);
	margin-right: golden-ratio(0.5em, 1);

	border: none;
	border-radius: 3px;

	color: white;

	&:first-of-type {margin-right:0};
}

