@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";

@import "colors";

$font: 'Open Sans', sans-serif;

body, html {
	font-family: $font;
}

.desktop-only {
	@include media($mobile) {
		display: none;
	}
}

.mobile-only {
	display: none;
	@include media($mobile) {
		display: inherit;
	}
}

h1 {
	font-size: 2em;
	font-weight: normal;

	@include media($mobile) {
		font-size: 1.6em;
		margin-bottom: 0.1em;
	}
}

.hint {
	margin: 0 0 0.2em 0;
	color: #555;
	@include media($mobile) {
		font-size: 0.9em;
	}
}

section, footer {
	@include outer-container;
	margin-bottom: 2em;
	padding: 0 1em;

	@include media($mobile) {
		margin-bottom: 1.5em;
		&:last-child {margin-bottom: 2em;}
	}
}

section.user {

	&.ui-sortable-helper {
		margin-left: auto;
	}
}

section.user:after {
	content:" ";
	width: 100%;
	padding-top: 1.5em;
	border-bottom: 1px solid #DDD;
}

img {
	@include span-columns(2);
	border-radius: 3px;

	@include media($mobile) {
		@include span-columns(1);
		margin-bottom: 1.5rem;
	}
}

div.form {
	@include span-columns(10);

	button {
		float: right;
	}

	@include media($mobile) {
		@include span-columns(4);
	}
}

aside {
	@include span-columns(3 of 10);
	@include media($mobile) {
		@include span-columns(1);
		font-size: 0.9rem;
	}

	font-size: 1rem;
	color: #555;
	// padding: 0 golden-ratio(0.3em, 1);

	span {
		font-style:italic;
		color: #BBB;

		@include media($mobile) {
			display:none;
		}
	}
}


input {
	@include span-columns(7 of 10);
	@include omega;
	@include media($mobile) {
		@include span-columns(3);
		@include omega;
	}
	

	height: golden-ratio(1.5em, 1);
	padding: 0 golden-ratio(0.3em, 1);
	margin-bottom: golden-ratio(0.5em, 1);

	border-radius: 2px;
	border: 1px solid #DDD;

	&:active, &:focus {
		outline:none;
		box-shadow:none;
		border: 1px solid $PETER-RIVER;
	}
}

button {
	height: golden-ratio(1.5em, 1);
	padding: 0 golden-ratio(0.6em, 1);
	margin-right: golden-ratio(0.5em, 1);

	border: none;
	border-radius: 3px;

	color: white;

	&:last-child {margin-right:0};
}


div.deleted_user {
	height: golden-ratio(1.5em, 1);
	padding: 0 golden-ratio(0.6em, 1);
	line-height: golden-ratio(1.5em, 1);

	background-color: transparentize($ALIZARIN, 0.8);

	border-radius: 3px;

	color: $POMEGRANATE;

	span {
		font-weight: 600;
		cursor: pointer;
	}
}

#messageBox {
	display:none;
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:rgba(0,0,0,0.4);
	
	>div {
		position:fixed;
		top:50%;
		left:50%;
		margin-top:-25px;
		margin-left:-150px;
		width:300px;
		height:50px;
		background:white;
		border:1px solid #DDD;
		text-align:center;
		line-height:50px;
		border-radius:2px;
	}
}