@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";

@import "colors";

$font: 'Open Sans', sans-serif;

body, html {
	font-family: $font;
}

h1 {
	font-weight: normal;
}

section, footer {
	@include outer-container;
	margin-bottom: 2em;
	padding: 0 1em;
}

#board-container {
	// box-shadow: 0 2px 8px #999;
	width: 100%;
	border: 1px solid #DDD;

	padding: 7%;
}

#room-canvas {

	border: 1px solid #DDD;

	background-color: white;
	overflow: hidden;
	background-size: cover;
	background-image: url(../content/r_ss20.png);
}