body {
  margin: 0;
  padding: 2em;
  font-family: Arial, sans-serif;
}

h1 {
  line-height: 120%;
  color: rgb(66,66,66);
  letter-spacing: -0.05em;
}


.hor-minimalist-a
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	background: #fff;
	border-collapse: collapse;
	text-align: left;
}
.hor-minimalist-a th
{
	font-size: 14px;
	font-weight: normal;
	color: #039;
	padding: 10px 8px;
	border-bottom: 2px solid #6678b1;
}
.hor-minimalist-a td
{
	color: #669;
	padding: 9px 8px 0px 8px;
}
.hor-minimalist-a tbody tr:hover td
{
	color: #009;
}


.hor-minimalist-b
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	background: #fff;
	margin: 45px;
	width: 480px;
	border-collapse: collapse;
	text-align: left;
}
.hor-minimalist-b th
{
	font-size: 14px;
	font-weight: normal;
	color: #039;
	padding: 10px 8px;
	border-bottom: 2px solid #6678b1;
}
.hor-minimalist-b td
{
	border-bottom: 1px solid #ccc;
	color: #669;
	padding: 6px 8px;
}
.hor-minimalist-b tbody tr:hover td
{
	color: #009;
}

label {
	font-weight:bold;
}